exampel.flows.txt
[{"id":"6626c664.fccdb","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"669d717b.58e348","type":"Axis Camera","z":"6626c664.fccdb","name":"","account":"c2b60416.e43a98","address":"extra.juhlin.me","action":"Firmware Update","format":"default","x":470,"y":580,"wires":[["8fb2ee9.576c81"]]},{"id":"c12586f6.7f86b8","type":"function","z":"6626c664.fccdb","name":"FW file path","func":"msg.payload = \"/some/path/to/file/XXXX.bin\"\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":580,"wires":[["669d717b.58e348"]]},{"id":"8fb2ee9.576c81","type":"debug","z":"6626c664.fccdb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":580,"wires":[]},{"id":"7c4a9d29.1e0a0c","type":"inject","z":"6626c664.fccdb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":580,"wires":[["c12586f6.7f86b8"]]},{"id":"e35bdc74.dd5768","type":"Axis Camera","z":"6626c664.fccdb","name":"","account":"c2b60416.e43a98","address":"extra.juhlin.me","action":"Get Properties","format":"json","x":460,"y":100,"wires":[["df522146.2783d8"]]},{"id":"d2f3676.4916098","type":"function","z":"6626c664.fccdb","name":"Group","func":"msg.payload = \"image.i0.text\"\nreturn msg;\n","outputs":1,"noerr":0,"x":270,"y":100,"wires":[["e35bdc74.dd5768"]]},{"id":"df522146.2783d8","type":"debug","z":"6626c664.fccdb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":100,"wires":[]},{"id":"1b324e53.5cddba","type":"inject","z":"6626c664.fccdb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":100,"wires":[["d2f3676.4916098"]]},{"id":"28268a9.fcc8e76","type":"Axis Camera","z":"6626c664.fccdb","name":"","account":"c2b60416.e43a98","address":"extra.juhlin.me","action":"Set Properties","format":"json","x":460,"y":140,"wires":[["e6b63821.761f78"]]},{"id":"d5892c71.cf8fa","type":"function","z":"6626c664.fccdb","name":"Data","func":"msg.topic = \"image.i0.text\"\n\nmsg.payload = {\n    BGColor:\"black\",\n    ClockEnabled:true,\n    Color:\"white\",\n    DateEnabled:true,\n    Position:\"top\",\n    String:\"\",\n    TextEnabled:true,\n    TextSize:\"medium\"\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":270,"y":140,"wires":[["28268a9.fcc8e76"]]},{"id":"e6b63821.761f78","type":"debug","z":"6626c664.fccdb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":140,"wires":[]},{"id":"cc92acc3.88bf4","type":"inject","z":"6626c664.fccdb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":140,"wires":[["d5892c71.cf8fa"]]},{"id":"1b6f9540.453b3b","type":"Axis Camera","z":"6626c664.fccdb","name":"","account":"c2b60416.e43a98","address":"extra.juhlin.me","action":"List Accounts","format":"json","x":460,"y":180,"wires":[["7885ccf4.d86bb4"]]},{"id":"7885ccf4.d86bb4","type":"debug","z":"6626c664.fccdb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":180,"wires":[]},{"id":"919dad86.6fdc08","type":"inject","z":"6626c664.fccdb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":180,"wires":[["1b6f9540.453b3b"]]},{"id":"cf978bcf.d07c6","type":"Axis Camera","z":"6626c664.fccdb","name":"","account":"c2b60416.e43a98","address":"extra.juhlin.me","action":"Set Account","format":"json","x":450,"y":220,"wires":[["dda3c23.8a55c4"]]},{"id":"367caed4.9e5f9a","type":"function","z":"6626c664.fccdb","name":"User","func":"msg.payload = {\n  user: \"fred\",\n  password:\"myPassword\",\n  privileges:\"Viewer\"\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":270,"y":220,"wires":[["cf978bcf.d07c6"]]},{"id":"dda3c23.8a55c4","type":"debug","z":"6626c664.fccdb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":220,"wires":[]},{"id":"2d63da2c.0f059e","type":"inject","z":"6626c664.fccdb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":220,"wires":[["367caed4.9e5f9a"]]},{"id":"e7f2e4c8.36bc5","type":"Axis Camera","z":"6626c664.fccdb","name":"","account":"c2b60416.e43a98","address":"extra.juhlin.me","action":"List ACAP","format":"json","x":440,"y":260,"wires":[["996bc92e.cd2bd8"]]},{"id":"996bc92e.cd2bd8","type":"debug","z":"6626c664.fccdb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":260,"wires":[]},{"id":"cff29b6f.c5fe78","type":"inject","z":"6626c664.fccdb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":260,"wires":[["e7f2e4c8.36bc5"]]},{"id":"211d3117.83bb9e","type":"Axis Camera","z":"6626c664.fccdb","name":"","account":"c2b60416.e43a98","address":"extra.juhlin.me","action":"Start ACAP","format":"json","x":450,"y":300,"wires":[["51fd8a0d.4a3964"]]},{"id":"51fd8a0d.4a3964","type":"debug","z":"6626c664.fccdb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":300,"wires":[]},{"id":"c30b9e53.c73f5","type":"inject","z":"6626c664.fccdb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":300,"wires":[["b69bfacf.580bf8"]]},{"id":"b69bfacf.580bf8","type":"function","z":"6626c664.fccdb","name":"","func":"msg.payload = \"timelapseme\"\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":300,"wires":[["211d3117.83bb9e"]]},{"id":"50493b39.58ed8c","type":"Axis Camera","z":"6626c664.fccdb","name":"","account":"c2b60416.e43a98","address":"extra.juhlin.me","action":"List Events","format":"json","x":450,"y":380,"wires":[["2f6cd2ff.44140e"]]},{"id":"2f6cd2ff.44140e","type":"debug","z":"6626c664.fccdb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":380,"wires":[]},{"id":"a7c706b9.e3268","type":"inject","z":"6626c664.fccdb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":380,"wires":[["50493b39.58ed8c"]]},{"id":"9e3b7392.cf89f","type":"Axis Camera","z":"6626c664.fccdb","name":"","account":"c2b60416.e43a98","address":"extra.juhlin.me","action":"List Certificates","format":"json","x":460,"y":420,"wires":[["93a4e960.fe08d8"]]},{"id":"93a4e960.fe08d8","type":"debug","z":"6626c664.fccdb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":420,"wires":[]},{"id":"3c26de30.95cc02","type":"inject","z":"6626c664.fccdb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":420,"wires":[["9e3b7392.cf89f"]]},{"id":"69d01f11.56df78","type":"Axis Camera","z":"6626c664.fccdb","name":"","account":"c2b60416.e43a98","address":"extra.juhlin.me","action":"Create Certificate","format":"json","x":470,"y":460,"wires":[["eef13cfe.6e641"]]},{"id":"eef13cfe.6e641","type":"debug","z":"6626c664.fccdb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":460,"wires":[]},{"id":"1c6364b6.a03423","type":"inject","z":"6626c664.fccdb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":460,"wires":[["38d3819.8a3e0fe"]]},{"id":"38d3819.8a3e0fe","type":"function","z":"6626c664.fccdb","name":"Subject","func":"msg.topic = \"myCertificate\";\nmsg.payload = {\n    commonName: \"some.domain.com\",\n    country: \"US\",\n    organizationName: \"Acme\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":460,"wires":[["69d01f11.56df78"]]},{"id":"28d3b5e3.fcef3a","type":"Axis Camera","z":"6626c664.fccdb","name":"","account":"c2b60416.e43a98","address":"extra.juhlin.me","action":"Request CSR","format":"json","x":460,"y":500,"wires":[["48c1344c.ac1734"]]},{"id":"48c1344c.ac1734","type":"debug","z":"6626c664.fccdb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":500,"wires":[]},{"id":"1baffb37.99e50d","type":"inject","z":"6626c664.fccdb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":500,"wires":[["dc190f2f.e78c4"]]},{"id":"dc190f2f.e78c4","type":"function","z":"6626c664.fccdb","name":"Subject","func":"msg.topic = \"myCertificate\";\n\n//Payload can optional override sobject\nmsg.payload = {\n    commonName: \"some.domain.com\",\n//    country: \"US\",\n//    organizationName: \"Acme\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":500,"wires":[["28d3b5e3.fcef3a"]]},{"id":"f76d25b9.264e58","type":"Axis Camera","z":"6626c664.fccdb","name":"","account":"c2b60416.e43a98","address":"extra.juhlin.me","action":"Image","format":"base64","x":430,"y":60,"wires":[["abcaff7.631958"]]},{"id":"5fd12132.e8bc9","type":"function","z":"6626c664.fccdb","name":"Data","func":"msg.payload = \"resolution=640x360\"\nreturn msg;\n","outputs":1,"noerr":0,"x":270,"y":60,"wires":[["f76d25b9.264e58"]]},{"id":"abcaff7.631958","type":"debug","z":"6626c664.fccdb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":60,"wires":[]},{"id":"3192d922.b75c86","type":"inject","z":"6626c664.fccdb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":60,"wires":[["5fd12132.e8bc9"]]},{"id":"469f194d.cb1d5","type":"Axis Camera","z":"6626c664.fccdb","name":"","account":"c2b60416.e43a98","address":"extra.juhlin.me","action":"List Connections","format":"json","x":470,"y":540,"wires":[["1c2a854b.c05ff3"]]},{"id":"1c2a854b.c05ff3","type":"debug","z":"6626c664.fccdb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":540,"wires":[]},{"id":"f997fb46.ced39","type":"inject","z":"6626c664.fccdb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":540,"wires":[["469f194d.cb1d5"]]},{"id":"a2d63f55.ca2718","type":"Axis Camera","z":"6626c664.fccdb","name":"","account":"c2b60416.e43a98","address":"extra.juhlin.me","action":"Install ACAP","format":"json","x":450,"y":340,"wires":[["71c307a8.2115b"]]},{"id":"71c307a8.2115b","type":"debug","z":"6626c664.fccdb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":340,"wires":[]},{"id":"3f49f713.7e8288","type":"inject","z":"6626c664.fccdb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":340,"wires":[["7bee9438.8008dc"]]},{"id":"7bee9438.8008dc","type":"function","z":"6626c664.fccdb","name":"File path","func":"msg.payload = \"/some/path/to/file/XXXX.eap\"\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":340,"wires":[["a2d63f55.ca2718"]]},{"id":"c2b60416.e43a98","type":"Camera Account","z":"","name":"admin","protocol":"http"}]
