examples/ACAP Management.json
[{"id":"8e47ab04.ed677","type":"inject","z":"b7610cc0.269b3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":120,"wires":[["a8856ab8.8cb2a8"]]},{"id":"3999bd8a.ac3722","type":"Axis Camera","z":"b7610cc0.269b3","name":"","account":"a17ed695.4ab608","address":"tpu.juhlin.me","action":"Install ACAP","data":"","format":"json","x":570,"y":120,"wires":[["7671aae9.532f34"]]},{"id":"7671aae9.532f34","type":"debug","z":"b7610cc0.269b3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":120,"wires":[]},{"id":"4f4bc18a.ed288","type":"inject","z":"b7610cc0.269b3","name":"Click here to set your cameras address","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10.11.12.13","payloadType":"str","x":230,"y":60,"wires":[["6522fd0f.a631cc"]]},{"id":"6522fd0f.a631cc","type":"change","z":"b7610cc0.269b3","name":"flow.address used by flows below","rules":[{"t":"set","p":"address","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":60,"wires":[[]]},{"id":"7bb49d42.3c7384","type":"inject","z":"b7610cc0.269b3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["f1827429.4f7738"]]},{"id":"f1827429.4f7738","type":"change","z":"b7610cc0.269b3","name":"","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":160,"wires":[["afa92713.c4dfc"]]},{"id":"afa92713.c4dfc","type":"Axis Camera","z":"b7610cc0.269b3","name":"","account":"a17ed695.4ab608","address":"","action":"List ACAP","data":"","format":"default","x":570,"y":160,"wires":[["e5ffc45c.fc2948"]]},{"id":"e5ffc45c.fc2948","type":"debug","z":"b7610cc0.269b3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":160,"wires":[]},{"id":"5b4b2361.b8510c","type":"inject","z":"b7610cc0.269b3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":200,"wires":[["42dcaadb.fee6cc"]]},{"id":"42dcaadb.fee6cc","type":"change","z":"b7610cc0.269b3","name":"ACAP ID","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"someID","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":200,"wires":[["986533b5.299a58"]]},{"id":"986533b5.299a58","type":"Axis Camera","z":"b7610cc0.269b3","name":"","account":"a17ed695.4ab608","address":"","action":"Start ACAP","data":"","format":"default","x":570,"y":200,"wires":[["d7d2750a.6b8968"]]},{"id":"d7d2750a.6b8968","type":"debug","z":"b7610cc0.269b3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":200,"wires":[]},{"id":"1153a892.b8cb57","type":"inject","z":"b7610cc0.269b3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":240,"wires":[["a1e9ab47.ac5c"]]},{"id":"a1e9ab47.ac5c","type":"change","z":"b7610cc0.269b3","name":"ACAP ID","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"someID","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":240,"wires":[["d8e0c288.c0d018"]]},{"id":"d8e0c288.c0d018","type":"Axis Camera","z":"b7610cc0.269b3","name":"","account":"a17ed695.4ab608","address":"","action":"Stop ACAP","data":"","format":"default","x":570,"y":240,"wires":[["d40f6480.38565"]]},{"id":"d40f6480.38565","type":"debug","z":"b7610cc0.269b3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":240,"wires":[]},{"id":"2d1c975b.75f688","type":"inject","z":"b7610cc0.269b3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":280,"wires":[["1ad5e3e4.d67bb4"]]},{"id":"1ad5e3e4.d67bb4","type":"change","z":"b7610cc0.269b3","name":"ACAP ID","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"someID","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":280,"wires":[["4a40f984.3c1118"]]},{"id":"4a40f984.3c1118","type":"Axis Camera","z":"b7610cc0.269b3","name":"","account":"a17ed695.4ab608","address":"","action":"Remove ACAP","data":"","format":"default","x":580,"y":280,"wires":[["37d949cc.509fc6"]]},{"id":"37d949cc.509fc6","type":"debug","z":"b7610cc0.269b3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":280,"wires":[]},{"id":"a8856ab8.8cb2a8","type":"change","z":"b7610cc0.269b3","name":"ACAP EAP file","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"/home/fred/files/acap/EventList_1_0_lua.eap","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":120,"wires":[["3999bd8a.ac3722"]]},{"id":"a17ed695.4ab608","type":"Camera Account","z":"","name":"Nodered","protocol":"http"}]