examples/ACAP Management.json
[{"id":"6aa59593.84957c","type":"inject","z":"f94edcd6.dd85c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":160,"wires":[["c7be909.387d7f"]]},{"id":"9f0c3e3b.807ad8","type":"Axis Camera","z":"f94edcd6.dd85c","name":"","account":"86a91472.53df18","address":"","action":"Install ACAP","data":"","format":"json","x":590,"y":160,"wires":[["ddb3b3db.f9156"]]},{"id":"ddb3b3db.f9156","type":"debug","z":"f94edcd6.dd85c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":160,"wires":[]},{"id":"ddc607c0.9269a8","type":"inject","z":"f94edcd6.dd85c","name":"Click here to set your cameras address","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10.11.12.13","payloadType":"str","x":250,"y":60,"wires":[["b628b29.d9bafd"]]},{"id":"b628b29.d9bafd","type":"change","z":"f94edcd6.dd85c","name":"Store address in flow.address.  Used by flows below","rules":[{"t":"set","p":"address","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":60,"wires":[[]]},{"id":"4f0ae8a1.34a0d","type":"inject","z":"f94edcd6.dd85c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":200,"wires":[["d0314876.9422c8"]]},{"id":"d0314876.9422c8","type":"change","z":"f94edcd6.dd85c","name":"","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":200,"wires":[["cda44e50.2b71e"]]},{"id":"cda44e50.2b71e","type":"Axis Camera","z":"f94edcd6.dd85c","name":"","account":"86a91472.53df18","address":"","action":"List ACAP","data":"","format":"default","x":590,"y":200,"wires":[["42d9b9ee.649028"]]},{"id":"42d9b9ee.649028","type":"debug","z":"f94edcd6.dd85c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":200,"wires":[]},{"id":"bb11b8cd.c09a38","type":"inject","z":"f94edcd6.dd85c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":240,"wires":[["7e134d25.d839c4"]]},{"id":"7e134d25.d839c4","type":"change","z":"f94edcd6.dd85c","name":"ACAP ID","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"Set_ACAP_ID_here","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":240,"wires":[["5a0a91d8.2e13"]]},{"id":"5a0a91d8.2e13","type":"Axis Camera","z":"f94edcd6.dd85c","name":"","account":"86a91472.53df18","address":"","action":"Start ACAP","data":"","format":"default","x":590,"y":240,"wires":[["6ec965a2.1451cc"]]},{"id":"6ec965a2.1451cc","type":"debug","z":"f94edcd6.dd85c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":240,"wires":[]},{"id":"71e6ab6.9b79ed4","type":"inject","z":"f94edcd6.dd85c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":280,"wires":[["65bb431d.ca1ad4"]]},{"id":"65bb431d.ca1ad4","type":"change","z":"f94edcd6.dd85c","name":"ACAP ID","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"Set_ACAP_ID_here","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":280,"wires":[["f475e994.843ef"]]},{"id":"f475e994.843ef","type":"Axis Camera","z":"f94edcd6.dd85c","name":"","account":"86a91472.53df18","address":"","action":"Stop ACAP","data":"","format":"default","x":590,"y":280,"wires":[["fdf1eb54.d04818"]]},{"id":"fdf1eb54.d04818","type":"debug","z":"f94edcd6.dd85c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":280,"wires":[]},{"id":"35f31e79.c20222","type":"inject","z":"f94edcd6.dd85c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":320,"wires":[["a565a16b.853358"]]},{"id":"a565a16b.853358","type":"change","z":"f94edcd6.dd85c","name":"ACAP ID","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"Set_ACAP_ID_here","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":320,"wires":[["aa695856.412f68"]]},{"id":"aa695856.412f68","type":"Axis Camera","z":"f94edcd6.dd85c","name":"","account":"86a91472.53df18","address":"","action":"Remove ACAP","data":"","format":"default","x":600,"y":320,"wires":[["ca9efa9f.ca8858"]]},{"id":"ca9efa9f.ca8858","type":"debug","z":"f94edcd6.dd85c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":320,"wires":[]},{"id":"c7be909.387d7f","type":"change","z":"f94edcd6.dd85c","name":"ACAP EAP file","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"/local/directory/to/acap/file.eap","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":160,"wires":[["9f0c3e3b.807ad8"]]},{"id":"86a91472.53df18","type":"Camera Account","z":"","name":"Nodered","protocol":"http"}]