examples/Camera MQTT client.json
[{"id":"b39b3344.5a33f8","type":"inject","z":"f94edcd6.dd85c","name":"Initialize camera address","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Set_Camera_Address_Here","payloadType":"str","x":210,"y":40,"wires":[["c5aa3d47.695a3"]]},{"id":"c5aa3d47.695a3","type":"change","z":"f94edcd6.dd85c","name":"Save Address in flow.address.  This will be used by flows below","rules":[{"t":"set","p":"address","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":40,"wires":[[]]},{"id":"f5003951.607748","type":"change","z":"f94edcd6.dd85c","name":"","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":120,"wires":[["d6ff28e2.9e83c8"]]},{"id":"91a0136d.7660c","type":"inject","z":"f94edcd6.dd85c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":120,"wires":[["f5003951.607748"]]},{"id":"d6ff28e2.9e83c8","type":"Axis Camera","z":"f94edcd6.dd85c","name":"","account":"bac3717.472ef1","address":"","action":"MQTT Status","data":"","format":"default","x":610,"y":120,"wires":[["ff6781a4.f81c5"]]},{"id":"ff6781a4.f81c5","type":"debug","z":"f94edcd6.dd85c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":120,"wires":[]},{"id":"b51a6707.7b09c8","type":"inject","z":"f94edcd6.dd85c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":180,"wires":[["62b260d3.eac7e8"]]},{"id":"62b260d3.eac7e8","type":"change","z":"f94edcd6.dd85c","name":"Connect Client","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"{\"host\":\"mqtt.server.com\",\"port\":\"1883\",\"tls\":false,\"id\":\"A_unique_id\",\"user\":\"\",\"password\":\"\",\"validateCertificate\":false,\"lastWillTestament\":{\"topic\":\"connected\",\"payload\":{\"clientt\":\"A_unique_id\",\"connected\":false}},\"announcement\":{\"topic\":\"connected\",\"payload\":{\"clientt\":\"A_unique_id\",\"connected\":true}}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":180,"wires":[["30b91e2c.64bdb2"]]},{"id":"30b91e2c.64bdb2","type":"Axis Camera","z":"f94edcd6.dd85c","name":"","account":"bac3717.472ef1","address":"","action":"MQTT Connect","data":"","format":"default","x":620,"y":180,"wires":[["65722c5f.40d27c"]]},{"id":"65722c5f.40d27c","type":"debug","z":"f94edcd6.dd85c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":180,"wires":[]},{"id":"177ae190.bda47e","type":"inject","z":"f94edcd6.dd85c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":300,"wires":[["c33fe70a.0535e"]]},{"id":"c33fe70a.0535e","type":"change","z":"f94edcd6.dd85c","name":"Get Event Publishing","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":300,"wires":[["743d46da.36c35"]]},{"id":"743d46da.36c35","type":"Axis Camera","z":"f94edcd6.dd85c","name":"","account":"bac3717.472ef1","address":"","action":"Get MQTT Publish","data":"","format":"default","x":630,"y":300,"wires":[["13632534.03f903"]]},{"id":"13632534.03f903","type":"debug","z":"f94edcd6.dd85c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":300,"wires":[]},{"id":"e9d37c0c.edf5d","type":"inject","z":"f94edcd6.dd85c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":340,"wires":[["5df24672.22b48"]]},{"id":"5df24672.22b48","type":"change","z":"f94edcd6.dd85c","name":"Set Event Publishing","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"{\"topic\":\"some/topic\",\"onvif\":false,\"events\":[{\"event\":\"axis:CameraApplicationPlatform/VMD/Camera1Profile1\",\"retain\":false},{\"event\":\"onvif:Device/axis:IO/VirtualPort\",\"retain\":false},{\"event\":\"onvif:VideoSource/axis:LiveStreamAccessed\",\"retain\":false}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":340,"wires":[["6beab425.833154"]]},{"id":"6beab425.833154","type":"Axis Camera","z":"f94edcd6.dd85c","name":"","account":"bac3717.472ef1","address":"","action":"Set MQTT Publish","data":"","format":"default","x":630,"y":340,"wires":[["461f1703.260a58"]]},{"id":"461f1703.260a58","type":"debug","z":"f94edcd6.dd85c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":340,"wires":[]},{"id":"37e7470d.cfc378","type":"inject","z":"f94edcd6.dd85c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":220,"wires":[["704dec7a.9a03bc"]]},{"id":"704dec7a.9a03bc","type":"change","z":"f94edcd6.dd85c","name":"Disconnect Client","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"null","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":220,"wires":[["b247063f.b094c"]]},{"id":"b247063f.b094c","type":"Axis Camera","z":"f94edcd6.dd85c","name":"","account":"bac3717.472ef1","address":"","action":"MQTT Connect","data":"","format":"default","x":620,"y":220,"wires":[["7f60bb0a.3a0074"]]},{"id":"7f60bb0a.3a0074","type":"debug","z":"f94edcd6.dd85c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":220,"wires":[]},{"id":"bac3717.472ef1","type":"Camera Account","z":"","name":"Nodered","protocol":"http"}]