examples/Camera Maintenance.json
[{"id":"910c772e.1a33c","type":"Axis Camera","z":"f76825f6.b6def8","name":"","account":"a17ed695.4ab608","address":"tpu.juhlin.me","action":"Firmware Update","data":"","format":"default","x":630,"y":140,"wires":[["8ab9d48b.21b22"]]},{"id":"950a91b3.7c95b","type":"inject","z":"f76825f6.b6def8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":140,"wires":[["e71ec4a2.c227c8"]]},{"id":"8ab9d48b.21b22","type":"debug","z":"f76825f6.b6def8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":140,"wires":[]},{"id":"5280d4b7.9746ec","type":"inject","z":"f76825f6.b6def8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":180,"wires":[["dc6f3faf.f7abe8"]]},{"id":"c0bdb63.41d6348","type":"Axis Camera","z":"f76825f6.b6def8","name":"","account":"a17ed695.4ab608","address":"tpu.juhlin.me","action":"Install ACAP","data":"","format":"json","x":610,"y":180,"wires":[["511bc9e2.04cd08"]]},{"id":"511bc9e2.04cd08","type":"debug","z":"f76825f6.b6def8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":180,"wires":[]},{"id":"f502ad94.d0e0a","type":"inject","z":"f76825f6.b6def8","name":"Click here to set your cameras address","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10.11.12.13","payloadType":"str","x":270,"y":60,"wires":[["b55d4c92.e3c838"]]},{"id":"b55d4c92.e3c838","type":"change","z":"f76825f6.b6def8","name":"flow.address used by flows below","rules":[{"t":"set","p":"address","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":60,"wires":[[]]},{"id":"762f801a.3eb07","type":"inject","z":"f76825f6.b6def8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":220,"wires":[["b57de7dd.f2cc2"]]},{"id":"b57de7dd.f2cc2","type":"change","z":"f76825f6.b6def8","name":"","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":220,"wires":[["5b4fda4b.cc9b6c"]]},{"id":"5b4fda4b.cc9b6c","type":"Axis Camera","z":"f76825f6.b6def8","name":"","account":"a17ed695.4ab608","address":"","action":"List Connections","data":"","format":"default","x":620,"y":220,"wires":[["51c52ccc.7b9064"]]},{"id":"51c52ccc.7b9064","type":"debug","z":"f76825f6.b6def8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":220,"wires":[]},{"id":"dc6f3faf.f7abe8","type":"change","z":"f76825f6.b6def8","name":"ACAP EAP file","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"/home/fred/files/acap/EventList_1_0_lua.eap","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":180,"wires":[["c0bdb63.41d6348"]]},{"id":"6c3fa4ba.92ef4c","type":"inject","z":"f76825f6.b6def8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":260,"wires":[["a65fbc9a.5b22f8"]]},{"id":"a65fbc9a.5b22f8","type":"change","z":"f76825f6.b6def8","name":"","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":260,"wires":[["5a195fb2.e14a5"]]},{"id":"5a195fb2.e14a5","type":"Axis Camera","z":"f76825f6.b6def8","name":"","account":"a17ed695.4ab608","address":"","action":"Restart","data":"","format":"default","x":600,"y":260,"wires":[["61e9eaf5.2f5d1c"]]},{"id":"61e9eaf5.2f5d1c","type":"debug","z":"f76825f6.b6def8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":260,"wires":[]},{"id":"e2cf7687.77a59","type":"inject","z":"f76825f6.b6def8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":300,"wires":[["f9902dbd.55b58"]]},{"id":"f9902dbd.55b58","type":"change","z":"f76825f6.b6def8","name":"","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":300,"wires":[["cbcd9c7e.a5f44"]]},{"id":"cbcd9c7e.a5f44","type":"Axis Camera","z":"f76825f6.b6def8","name":"","account":"a17ed695.4ab608","address":"","action":"List Certificates","data":"","format":"default","x":620,"y":300,"wires":[["b22f9112.dd7028"]]},{"id":"b22f9112.dd7028","type":"debug","z":"f76825f6.b6def8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":300,"wires":[]},{"id":"e71ec4a2.c227c8","type":"change","z":"f76825f6.b6def8","name":"Firmware file","rules":[{"t":"set","p":"address","pt":"msg","to":"10.11.12.13","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"/some/local/directory/filename.bin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":140,"wires":[["910c772e.1a33c"]]},{"id":"a17ed695.4ab608","type":"Camera Account","z":"","name":"Nodered","protocol":"http"}]