examples/Camera Operations.json
[{"id":"1ee2ca57.73b0ae","type":"inject","z":"f76825f6.b6def8","name":"Click here to set your cameras address","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10.11.12.13","payloadType":"str","x":270,"y":60,"wires":[["2176a3a1.b7f5c4"]]},{"id":"2176a3a1.b7f5c4","type":"change","z":"f76825f6.b6def8","name":"flow.address used by flows below","rules":[{"t":"set","p":"address","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":60,"wires":[[]]},{"id":"161301e3.97697e","type":"inject","z":"f76825f6.b6def8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":140,"wires":[["a6b1f1cb.d55038"]]},{"id":"a6b1f1cb.d55038","type":"change","z":"f76825f6.b6def8","name":"","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":140,"wires":[["424c5ecf.38a86"]]},{"id":"424c5ecf.38a86","type":"Axis Camera","z":"f76825f6.b6def8","name":"","account":"a17ed695.4ab608","address":"","action":"Info","data":"","format":"default","x":590,"y":140,"wires":[["37c42450.38a5e4"]]},{"id":"37c42450.38a5e4","type":"debug","z":"f76825f6.b6def8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":140,"wires":[]},{"id":"4c90380b.af917","type":"inject","z":"f76825f6.b6def8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":180,"wires":[["fdd36264.369248"]]},{"id":"fdd36264.369248","type":"change","z":"f76825f6.b6def8","name":"Image 640x360","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"resolution=640x360","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":180,"wires":[["ae0c86cf.a1a528"]]},{"id":"ae0c86cf.a1a528","type":"Axis Camera","z":"f76825f6.b6def8","name":"","account":"a17ed695.4ab608","address":"","action":"Image","data":"","format":"base64","x":590,"y":180,"wires":[["20caf466.5f22d4"]]},{"id":"20caf466.5f22d4","type":"debug","z":"f76825f6.b6def8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":180,"wires":[]},{"id":"d7a92901.63d6a8","type":"inject","z":"f76825f6.b6def8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":220,"wires":[["9113b6d2.a3d16"]]},{"id":"9113b6d2.a3d16","type":"change","z":"f76825f6.b6def8","name":"Get camera sensor","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"imagesource.I0.sensor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":220,"wires":[["37069603.4ff64a"]]},{"id":"37069603.4ff64a","type":"Axis Camera","z":"f76825f6.b6def8","name":"","account":"a17ed695.4ab608","address":"","action":"Get Properties","data":"","format":"default","x":620,"y":220,"wires":[["f87b13b.de65af"]]},{"id":"f87b13b.de65af","type":"debug","z":"f76825f6.b6def8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":220,"wires":[]},{"id":"d9759277.b9c668","type":"inject","z":"f76825f6.b6def8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":260,"wires":[["7cc84c11.d36e5c"]]},{"id":"7cc84c11.d36e5c","type":"change","z":"f76825f6.b6def8","name":"","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":260,"wires":[["7084750b.5ae41c"]]},{"id":"7084750b.5ae41c","type":"Axis Camera","z":"f76825f6.b6def8","name":"","account":"a17ed695.4ab608","address":"","action":"MQTT Status","data":"","format":"default","x":610,"y":260,"wires":[["e9d7165a.c6a1c"]]},{"id":"e9d7165a.c6a1c","type":"debug","z":"f76825f6.b6def8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":260,"wires":[]},{"id":"a17ed695.4ab608","type":"Camera Account","z":"","name":"Nodered","protocol":"http"}]