examples/Camera MQTT client.json
[{"id":"5c9fc12e.8b8e8","type":"inject","z":"b2ee6979.3e8418","name":"Initialize camera address","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"extra.juhlin.me","payloadType":"str","x":230,"y":60,"wires":[["8eb269c5.68e9b8"]]},{"id":"8eb269c5.68e9b8","type":"change","z":"b2ee6979.3e8418","name":"Edit address here","rules":[{"t":"set","p":"address","pt":"flow","to":"1.2.3.4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":60,"wires":[[]]},{"id":"3938a0fc.963228","type":"change","z":"b2ee6979.3e8418","name":"","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":140,"wires":[["7390c164.25f4d"]]},{"id":"23c5bd4d.03c9ea","type":"inject","z":"b2ee6979.3e8418","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":140,"wires":[["3938a0fc.963228"]]},{"id":"7390c164.25f4d","type":"Axis Camera","z":"b2ee6979.3e8418","name":"","account":"193339dc.cfad4e","address":"","action":"MQTT Status","data":"","format":"default","x":640,"y":140,"wires":[["b904dc55.ad7e6"]]},{"id":"b904dc55.ad7e6","type":"debug","z":"b2ee6979.3e8418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":140,"wires":[]},{"id":"f2453188.9cde5","type":"inject","z":"b2ee6979.3e8418","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":200,"wires":[["ece20118.56d23"]]},{"id":"ece20118.56d23","type":"change","z":"b2ee6979.3e8418","name":"Connect Client","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"{\"host\":\"mqtt.server.com\",\"port\":\"1883\",\"tls\":false,\"id\":\"A_unique_id\",\"user\":\"\",\"password\":\"\",\"validateCertificate\":false,\"lastWillTestament\":{\"topic\":\"connected\",\"payload\":{\"clientt\":\"A_unique_id\",\"connected\":false}},\"announcement\":{\"topic\":\"connected\",\"payload\":{\"clientt\":\"A_unique_id\",\"connected\":true}}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":200,"wires":[["3da6dd31.ac941a"]]},{"id":"3da6dd31.ac941a","type":"Axis Camera","z":"b2ee6979.3e8418","name":"","account":"193339dc.cfad4e","address":"","action":"MQTT Connect","data":"","format":"default","x":640,"y":200,"wires":[["c69e03e0.98296"]]},{"id":"c69e03e0.98296","type":"debug","z":"b2ee6979.3e8418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":200,"wires":[]},{"id":"61d94862.020ab8","type":"inject","z":"b2ee6979.3e8418","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":320,"wires":[["aa3dcffc.17fa88"]]},{"id":"aa3dcffc.17fa88","type":"change","z":"b2ee6979.3e8418","name":"Get Event Publishing","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":320,"wires":[["149ae203.7afa1e"]]},{"id":"149ae203.7afa1e","type":"Axis Camera","z":"b2ee6979.3e8418","name":"","account":"193339dc.cfad4e","address":"","action":"Get MQTT Publish","data":"","format":"default","x":650,"y":320,"wires":[["6bdd6412.f05bf4"]]},{"id":"6bdd6412.f05bf4","type":"debug","z":"b2ee6979.3e8418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":320,"wires":[]},{"id":"57ec2833.fb609","type":"inject","z":"b2ee6979.3e8418","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":360,"wires":[["f4c1986a.2117f8"]]},{"id":"f4c1986a.2117f8","type":"change","z":"b2ee6979.3e8418","name":"Set Event Publishing","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"{\"topic\":\"some/topic\",\"onvif\":false,\"events\":[{\"event\":\"axis:CameraApplicationPlatform/VMD/Camera1Profile1\",\"retain\":false},{\"event\":\"onvif:Device/axis:IO/VirtualPort\",\"retain\":false},{\"event\":\"onvif:VideoSource/axis:LiveStreamAccessed\",\"retain\":false}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":360,"wires":[["a6ad3e1d.0c2a28"]]},{"id":"a6ad3e1d.0c2a28","type":"Axis Camera","z":"b2ee6979.3e8418","name":"","account":"193339dc.cfad4e","address":"","action":"Set MQTT Publish","data":"","format":"default","x":650,"y":360,"wires":[["46eb2ec0.a1e938"]]},{"id":"46eb2ec0.a1e938","type":"debug","z":"b2ee6979.3e8418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":360,"wires":[]},{"id":"90f6de59.a38338","type":"inject","z":"b2ee6979.3e8418","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":240,"wires":[["ad856399.c10e8"]]},{"id":"ad856399.c10e8","type":"change","z":"b2ee6979.3e8418","name":"Disconnect Client","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"null","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":240,"wires":[["58dee46a.03be94"]]},{"id":"58dee46a.03be94","type":"Axis Camera","z":"b2ee6979.3e8418","name":"","account":"193339dc.cfad4e","address":"","action":"MQTT Connect","data":"","format":"default","x":640,"y":240,"wires":[["6ee6da43.5d53f4"]]},{"id":"6ee6da43.5d53f4","type":"debug","z":"b2ee6979.3e8418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":240,"wires":[]},{"id":"193339dc.cfad4e","type":"Camera Account","z":"","name":"Nodered","protocol":"http"}]
