examples/Camera Operations.json
[{"id":"a904e3d9.3202c8","type":"inject","z":"f94edcd6.dd85c","name":"Set camera address","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Set_Camera_Address_Here","payloadType":"str","x":170,"y":40,"wires":[["7d8f4889.0c6b3"]]},{"id":"7d8f4889.0c6b3","type":"change","z":"f94edcd6.dd85c","name":"Save addresd in flow context to be use in examples below","rules":[{"t":"set","p":"address","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":40,"wires":[[]]},{"id":"4e54e15.b2adb2","type":"inject","z":"f94edcd6.dd85c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":120,"wires":[["3f881079.2c4d2"]]},{"id":"3f881079.2c4d2","type":"change","z":"f94edcd6.dd85c","name":"","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":120,"wires":[["3235c43b.dfe234"]]},{"id":"3235c43b.dfe234","type":"Axis Camera","z":"f94edcd6.dd85c","name":"","account":"5e82ef9e.bf3a6","address":"","action":"Info","data":"","format":"default","x":490,"y":120,"wires":[["36bd42b6.dd001e"]]},{"id":"36bd42b6.dd001e","type":"debug","z":"f94edcd6.dd85c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":120,"wires":[]},{"id":"e0496ed0.eec758","type":"inject","z":"f94edcd6.dd85c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["51544d9e.29d804"]]},{"id":"51544d9e.29d804","type":"change","z":"f94edcd6.dd85c","name":"Image 640x360","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"resolution=640x360","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":160,"wires":[["db1fbca9.a45508"]]},{"id":"db1fbca9.a45508","type":"Axis Camera","z":"f94edcd6.dd85c","name":"","account":"5e82ef9e.bf3a6","address":"","action":"Image","data":"","format":"base64","x":490,"y":160,"wires":[["77075692.4365f8"]]},{"id":"77075692.4365f8","type":"debug","z":"f94edcd6.dd85c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":160,"wires":[]},{"id":"5e82ef9e.bf3a6","type":"Camera Account","z":"","name":"Node-Red Account","protocol":"http"}]