examples/Camera Operations.json
[{"id":"5c9fc12e.8b8e8","type":"inject","z":"b2ee6979.3e8418","name":"Initialize camera address","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"extra.juhlin.me","payloadType":"str","x":230,"y":60,"wires":[["8eb269c5.68e9b8"]]},{"id":"8eb269c5.68e9b8","type":"change","z":"b2ee6979.3e8418","name":"Edit address here","rules":[{"t":"set","p":"address","pt":"flow","to":"1.2.3.4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":60,"wires":[[]]},{"id":"7427e3b6.dcdfbc","type":"inject","z":"b2ee6979.3e8418","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":140,"wires":[["6d09183.bcffb68"]]},{"id":"6d09183.bcffb68","type":"change","z":"b2ee6979.3e8418","name":"","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":140,"wires":[["6bb85f4b.3af77"]]},{"id":"6bb85f4b.3af77","type":"Axis Camera","z":"b2ee6979.3e8418","name":"","account":"2c9be14f.fd989e","address":"","action":"Info","data":"","format":"default","x":590,"y":140,"wires":[["a2446672.2806f"]]},{"id":"a2446672.2806f","type":"debug","z":"b2ee6979.3e8418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":140,"wires":[]},{"id":"59ec2d66.1ce73c","type":"inject","z":"b2ee6979.3e8418","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":180,"wires":[["ed88f420.3df3"]]},{"id":"ed88f420.3df3","type":"change","z":"b2ee6979.3e8418","name":"Image 640x360","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"resolution=640x360","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":180,"wires":[["df27554e.5e287"]]},{"id":"df27554e.5e287","type":"Axis Camera","z":"b2ee6979.3e8418","name":"","account":"2c9be14f.fd989e","address":"","action":"Image","data":"","format":"base64","x":590,"y":180,"wires":[["a2baa24c.2e7548"]]},{"id":"a2baa24c.2e7548","type":"debug","z":"b2ee6979.3e8418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":180,"wires":[]},{"id":"2c9be14f.fd989e","type":"Camera Account","z":"","name":"Node-Red Account","protocol":"http"}]