examples/Camera Maintenance.json
[{"id":"b547a6ee.c0f9d","type":"Axis Camera","z":"f94edcd6.dd85c","name":"","account":"be98187a.f86a","address":"","action":"Firmware Update","data":"","format":"default","x":570,"y":160,"wires":[["847ce4d1.0c82f8"]]},{"id":"b2791655.6a789","type":"inject","z":"f94edcd6.dd85c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":160,"wires":[["7db02044.6e00d"]]},{"id":"847ce4d1.0c82f8","type":"debug","z":"f94edcd6.dd85c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":160,"wires":[]},{"id":"80746ccd.50f6b8","type":"inject","z":"f94edcd6.dd85c","name":"Click here to set your cameras address","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Change_this_to_camera_address","payloadType":"str","x":210,"y":80,"wires":[["73ae2616.d26f"]]},{"id":"73ae2616.d26f","type":"change","z":"f94edcd6.dd85c","name":"flow.address used by flows below","rules":[{"t":"set","p":"address","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":80,"wires":[[]]},{"id":"4bb26c50.ada9cc","type":"inject","z":"f94edcd6.dd85c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":200,"wires":[["dc330410.a86488"]]},{"id":"dc330410.a86488","type":"change","z":"f94edcd6.dd85c","name":"","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":200,"wires":[["aa0ca180.ad871"]]},{"id":"aa0ca180.ad871","type":"Axis Camera","z":"f94edcd6.dd85c","name":"","account":"be98187a.f86a","address":"","action":"List Connections","data":"","format":"default","x":560,"y":200,"wires":[["c72060c2.eea73"]]},{"id":"c72060c2.eea73","type":"debug","z":"f94edcd6.dd85c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":200,"wires":[]},{"id":"564d7223.db2e54","type":"inject","z":"f94edcd6.dd85c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":240,"wires":[["f8b0af3a.af259"]]},{"id":"f8b0af3a.af259","type":"change","z":"f94edcd6.dd85c","name":"","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":240,"wires":[["91c12099.d6c12"]]},{"id":"91c12099.d6c12","type":"Axis Camera","z":"f94edcd6.dd85c","name":"","account":"be98187a.f86a","address":"","action":"Restart","data":"","format":"default","x":540,"y":240,"wires":[["f59eb78f.bccb18"]]},{"id":"f59eb78f.bccb18","type":"debug","z":"f94edcd6.dd85c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":240,"wires":[]},{"id":"ad92d267.648c7","type":"inject","z":"f94edcd6.dd85c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":280,"wires":[["f342292.62fb4d8"]]},{"id":"f342292.62fb4d8","type":"change","z":"f94edcd6.dd85c","name":"","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":280,"wires":[["4ddfdf74.2fe798"]]},{"id":"4ddfdf74.2fe798","type":"Axis Camera","z":"f94edcd6.dd85c","name":"","account":"be98187a.f86a","address":"","action":"List Certificates","data":"","format":"default","x":560,"y":280,"wires":[["75869bd8.d3b0fc"]]},{"id":"75869bd8.d3b0fc","type":"debug","z":"f94edcd6.dd85c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":280,"wires":[]},{"id":"7db02044.6e00d","type":"change","z":"f94edcd6.dd85c","name":"Firmware file","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"/some/local/directory/filename.bin","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":160,"wires":[["b547a6ee.c0f9d"]]},{"id":"be98187a.f86a","type":"Camera Account","z":"","name":"Nodered","protocol":"http"}]