examples/Camera Management.json
[{"id":"512aefe6.09bef","type":"inject","z":"f94edcd6.dd85c","name":"Click here to set your cameras address","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Set_Camera_address_here","payloadType":"str","x":250,"y":60,"wires":[["c828686a.36ac9"]]},{"id":"c828686a.36ac9","type":"change","z":"f94edcd6.dd85c","name":"flow.address used by flows below","rules":[{"t":"set","p":"address","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":60,"wires":[[]]},{"id":"66e1220d.e53c4c","type":"inject","z":"f94edcd6.dd85c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":220,"wires":[["765db092.5d6e6"]]},{"id":"e26b6cfa.6e0978","type":"Axis Camera","z":"f94edcd6.dd85c","name":"HTTP POST (JSON)","account":"4593da7c.aab50c","address":"","action":"HTTP POST","data":"","format":"json","x":620,"y":220,"wires":[["13c8c10a.7f3927"]]},{"id":"765db092.5d6e6","type":"change","z":"f94edcd6.dd85c","name":"network_settings.cgi","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"url","pt":"msg","to":"/axis-cgi/network_settings.cgi","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"apiVersion\":\"1.0\",\"method\":\"getNetworkInfo\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":220,"wires":[["e26b6cfa.6e0978"]]},{"id":"13c8c10a.7f3927","type":"debug","z":"f94edcd6.dd85c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":220,"wires":[]},{"id":"b581fe1.127dd","type":"Axis Camera","z":"f94edcd6.dd85c","name":"","account":"4593da7c.aab50c","address":"","action":"Get Properties","data":"","format":"default","x":600,"y":140,"wires":[["4a2c427c.83dee4"]]},{"id":"71779e67.10a2b8","type":"inject","z":"f94edcd6.dd85c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":140,"wires":[["5032156e.967dfc"]]},{"id":"5032156e.967dfc","type":"change","z":"f94edcd6.dd85c","name":"Get camera sensor","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"imagesource.I0.sensor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":140,"wires":[["b581fe1.127dd"]]},{"id":"4a2c427c.83dee4","type":"debug","z":"f94edcd6.dd85c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":140,"wires":[]},{"id":"ed66162f.ee1c58","type":"Axis Camera","z":"f94edcd6.dd85c","name":"","account":"4593da7c.aab50c","address":"","action":"Set Properties","data":"","format":"default","x":600,"y":180,"wires":[["c186873a.5a281"]]},{"id":"e6ef4b0a.258ff8","type":"inject","z":"f94edcd6.dd85c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":180,"wires":[["ef7310d.06e077"]]},{"id":"ef7310d.06e077","type":"change","z":"f94edcd6.dd85c","name":"Set Color settings","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"imagesource.I0.sensor","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"Brightness\":\"50\",\"ColorLevel\":\"40\",\"Contrast\":\"30\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":180,"wires":[["ed66162f.ee1c58"]]},{"id":"c186873a.5a281","type":"debug","z":"f94edcd6.dd85c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":180,"wires":[]},{"id":"2682a555.433cf2","type":"inject","z":"f94edcd6.dd85c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":300,"wires":[["72283b7.1ceea44"]]},{"id":"72283b7.1ceea44","type":"change","z":"f94edcd6.dd85c","name":"","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":300,"wires":[["4818697f.db09e"]]},{"id":"4818697f.db09e","type":"Axis Camera","z":"f94edcd6.dd85c","name":"","account":"4593da7c.aab50c","address":"","action":"List Accounts","data":"","format":"json","x":590,"y":300,"wires":[["f89fb033.c864d"]]},{"id":"f89fb033.c864d","type":"debug","z":"f94edcd6.dd85c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":300,"wires":[]},{"id":"f0681e37.5ae8b8","type":"inject","z":"f94edcd6.dd85c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":340,"wires":[["dca88578.47e75"]]},{"id":"dca88578.47e75","type":"change","z":"f94edcd6.dd85c","name":"Create/Update testuser","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"{\"user\":\"testuser\",\"password\":\"testpassword\",\"privileges\":\"Administrator\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":340,"wires":[["18f1233e.b213b5"]]},{"id":"18f1233e.b213b5","type":"Axis Camera","z":"f94edcd6.dd85c","name":"","account":"4593da7c.aab50c","address":"","action":"Set Account","data":"","format":"default","x":590,"y":340,"wires":[["71beaba4.ddac2c"]]},{"id":"71beaba4.ddac2c","type":"debug","z":"f94edcd6.dd85c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":340,"wires":[]},{"id":"f984b161.240c","type":"inject","z":"f94edcd6.dd85c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":380,"wires":[["c548ea9e.79df6"]]},{"id":"c548ea9e.79df6","type":"change","z":"f94edcd6.dd85c","name":"Remove testuser","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"testuser","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":380,"wires":[["9c895f57.1be9a"]]},{"id":"9c895f57.1be9a","type":"Axis Camera","z":"f94edcd6.dd85c","name":"","account":"4593da7c.aab50c","address":"","action":"Remove Account","data":"","format":"default","x":610,"y":380,"wires":[["627adb17.c9cd84"]]},{"id":"627adb17.c9cd84","type":"debug","z":"f94edcd6.dd85c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":380,"wires":[]},{"id":"4593da7c.aab50c","type":"Camera Account","z":"","name":"Nodered","protocol":"http"}]