examples/Camera Management.json
[{"id":"4065e9f9.7876b8","type":"inject","z":"f76825f6.b6def8","name":"Click here to set your cameras address","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10.11.12.13","payloadType":"str","x":250,"y":80,"wires":[["e0559e7c.409288"]]},{"id":"e0559e7c.409288","type":"change","z":"f76825f6.b6def8","name":"flow.address used by flows below","rules":[{"t":"set","p":"address","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":80,"wires":[[]]},{"id":"4bb99423.5b3df4","type":"inject","z":"f76825f6.b6def8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":360,"wires":[["214bb94d.86332e"]]},{"id":"7e2f3bb4.c84da4","type":"Axis Camera","z":"f76825f6.b6def8","name":"HTTP POST (JSON)","account":"a17ed695.4ab608","address":"","action":"HTTP POST","data":"","format":"json","x":620,"y":360,"wires":[["7b41f5c8.8241bc"]]},{"id":"214bb94d.86332e","type":"change","z":"f76825f6.b6def8","name":"network_settings.cgi","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"url","pt":"msg","to":"/axis-cgi/network_settings.cgi","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"apiVersion\":\"1.0\",\"method\":\"getNetworkInfo\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":360,"wires":[["7e2f3bb4.c84da4"]]},{"id":"7b41f5c8.8241bc","type":"debug","z":"f76825f6.b6def8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":360,"wires":[]},{"id":"ab0ee6c4.d6abb8","type":"Axis Camera","z":"f76825f6.b6def8","name":"","account":"a17ed695.4ab608","address":"","action":"Get Properties","data":"","format":"default","x":600,"y":160,"wires":[["28eccda.8eda632"]]},{"id":"c2248a57.6fed98","type":"inject","z":"f76825f6.b6def8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":160,"wires":[["fa86d830.7ea48"]]},{"id":"fa86d830.7ea48","type":"change","z":"f76825f6.b6def8","name":"Get camera sensor","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"imagesource.I0.sensor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":160,"wires":[["ab0ee6c4.d6abb8"]]},{"id":"28eccda.8eda632","type":"debug","z":"f76825f6.b6def8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":160,"wires":[]},{"id":"e03d0921.fd2ef8","type":"Axis Camera","z":"f76825f6.b6def8","name":"","account":"a17ed695.4ab608","address":"","action":"Set Properties","data":"","format":"default","x":600,"y":200,"wires":[["e27fd2d0.7db598"]]},{"id":"72030721.ffa33","type":"inject","z":"f76825f6.b6def8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":200,"wires":[["a237a46b.870dd8"]]},{"id":"a237a46b.870dd8","type":"change","z":"f76825f6.b6def8","name":"Set Color settings","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"imagesource.I0.sensor","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"Brightness\":\"50\",\"ColorLevel\":\"40\",\"Contrast\":\"30\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":200,"wires":[["e03d0921.fd2ef8"]]},{"id":"e27fd2d0.7db598","type":"debug","z":"f76825f6.b6def8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":200,"wires":[]},{"id":"d0e0bde.e413c4","type":"inject","z":"f76825f6.b6def8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":240,"wires":[["c5445bf5.085758"]]},{"id":"c5445bf5.085758","type":"change","z":"f76825f6.b6def8","name":"","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":240,"wires":[["6b327fcf.81f1e8"]]},{"id":"6b327fcf.81f1e8","type":"Axis Camera","z":"f76825f6.b6def8","name":"","account":"a17ed695.4ab608","address":"","action":"List Accounts","data":"","format":"json","x":590,"y":240,"wires":[["98d3ea87.991c7"]]},{"id":"98d3ea87.991c7","type":"debug","z":"f76825f6.b6def8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":240,"wires":[]},{"id":"35d979a7.2ff3f6","type":"inject","z":"f76825f6.b6def8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":280,"wires":[["c8f2c623.a91fa8"]]},{"id":"c8f2c623.a91fa8","type":"change","z":"f76825f6.b6def8","name":"Create/Update testuser","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"{\"user\":\"testuser\",\"password\":\"testpassword\",\"privileges\":\"Administrator\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":280,"wires":[["24f2ca0d.08400e"]]},{"id":"24f2ca0d.08400e","type":"Axis Camera","z":"f76825f6.b6def8","name":"","account":"a17ed695.4ab608","address":"","action":"Set Account","data":"","format":"default","x":590,"y":280,"wires":[["69e01081.b56eb"]]},{"id":"69e01081.b56eb","type":"debug","z":"f76825f6.b6def8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":280,"wires":[]},{"id":"48d8c3d9.ebf6bc","type":"inject","z":"f76825f6.b6def8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":320,"wires":[["1c6d3dce.8eea6a"]]},{"id":"1c6d3dce.8eea6a","type":"change","z":"f76825f6.b6def8","name":"Remove testuser","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"testuser","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":320,"wires":[["c08a06c9.c4869"]]},{"id":"c08a06c9.c4869","type":"Axis Camera","z":"f76825f6.b6def8","name":"","account":"a17ed695.4ab608","address":"","action":"Remove Account","data":"","format":"default","x":610,"y":320,"wires":[["bec0d134.49669"]]},{"id":"bec0d134.49669","type":"debug","z":"f76825f6.b6def8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":320,"wires":[]},{"id":"3fcdc925.4e69ae","type":"inject","z":"f76825f6.b6def8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":400,"wires":[["2ca4cf7c.15cca"]]},{"id":"2ca4cf7c.15cca","type":"change","z":"f76825f6.b6def8","name":"","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":400,"wires":[["7e76fb96.10e21c"]]},{"id":"7e76fb96.10e21c","type":"Axis Camera","z":"f76825f6.b6def8","name":"","account":"a17ed695.4ab608","address":"","action":"List Certificates","data":"","format":"default","x":600,"y":400,"wires":[["9375967f.ead768"]]},{"id":"9375967f.ead768","type":"debug","z":"f76825f6.b6def8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":400,"wires":[]},{"id":"a17ed695.4ab608","type":"Camera Account","z":"","name":"Nodered","protocol":"http"}]