examples/Camera MQTT client.json
[{"id":"d6cf3ec2.6082d8","type":"change","z":"88e189e4.d4201","name":"","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":120,"wires":[["57028213.03ca44"]]},{"id":"2c25fa87.6c0736","type":"inject","z":"88e189e4.d4201","name":"Click here to set your cameras address","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10.11.12.13","payloadType":"str","x":230,"y":40,"wires":[["46703494.c06b1c"]]},{"id":"46703494.c06b1c","type":"change","z":"88e189e4.d4201","name":"flow.address used by flows below","rules":[{"t":"set","p":"address","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":40,"wires":[[]]},{"id":"90fd1501.a5279","type":"inject","z":"88e189e4.d4201","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":120,"wires":[["d6cf3ec2.6082d8"]]},{"id":"57028213.03ca44","type":"Axis Camera","z":"88e189e4.d4201","name":"","account":"a17ed695.4ab608","address":"","action":"MQTT Status","data":"","format":"default","x":570,"y":120,"wires":[["457e7dfc.757b04"]]},{"id":"457e7dfc.757b04","type":"debug","z":"88e189e4.d4201","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":120,"wires":[]},{"id":"f65c9384.2cdb48","type":"inject","z":"88e189e4.d4201","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["adb7e01b.d1c978"]]},{"id":"adb7e01b.d1c978","type":"change","z":"88e189e4.d4201","name":"Connect Client","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"{\"host\":\"mqtt.server.com\",\"port\":\"1883\",\"tls\":false,\"id\":\"A_unique_id\",\"user\":\"\",\"password\":\"\",\"validateCertificate\":false,\"lastWillTestament\":{\"topic\":\"connected\",\"payload\":{\"clientt\":\"A_unique_id\",\"connected\":false}},\"announcement\":{\"topic\":\"connected\",\"payload\":{\"clientt\":\"A_unique_id\",\"connected\":true}}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":160,"wires":[["780d8184.2a5aa8"]]},{"id":"780d8184.2a5aa8","type":"Axis Camera","z":"88e189e4.d4201","name":"","account":"a17ed695.4ab608","address":"","action":"MQTT Connect","data":"","format":"default","x":580,"y":160,"wires":[["d04d1f92.86a68"]]},{"id":"d04d1f92.86a68","type":"debug","z":"88e189e4.d4201","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":160,"wires":[]},{"id":"192e90e0.9d5a1f","type":"inject","z":"88e189e4.d4201","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":240,"wires":[["90dc1a09.8d328"]]},{"id":"90dc1a09.8d328","type":"change","z":"88e189e4.d4201","name":"","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":240,"wires":[["2a824f82.237d28"]]},{"id":"2a824f82.237d28","type":"Axis Camera","z":"88e189e4.d4201","name":"","account":"a17ed695.4ab608","address":"","action":"Get MQTT Publish","data":"","format":"default","x":590,"y":240,"wires":[["a5c93801.6806c8"]]},{"id":"a5c93801.6806c8","type":"debug","z":"88e189e4.d4201","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":240,"wires":[]},{"id":"3d1da72b.564008","type":"inject","z":"88e189e4.d4201","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":280,"wires":[["97e20f0b.355f2"]]},{"id":"97e20f0b.355f2","type":"change","z":"88e189e4.d4201","name":"Set MQTT publish events","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"{\"topic\":\"some/topic\",\"onvif\":false,\"events\":[\"axis:CameraApplicationPlatform//.\",\"onvif:PTZController//.\",\"onvif:Device/axis:IO/VirtualInput//.\"]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":280,"wires":[["76f295d8.286c74"]]},{"id":"76f295d8.286c74","type":"Axis Camera","z":"88e189e4.d4201","name":"","account":"a17ed695.4ab608","address":"","action":"Set MQTT Publish","data":"","format":"default","x":590,"y":280,"wires":[["6be1973d.efcde"]]},{"id":"6be1973d.efcde","type":"debug","z":"88e189e4.d4201","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":280,"wires":[]},{"id":"8af89d84.2e7908","type":"inject","z":"88e189e4.d4201","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":200,"wires":[["7da8e728.4c6b88"]]},{"id":"7da8e728.4c6b88","type":"change","z":"88e189e4.d4201","name":"Disconnect Client","rules":[{"t":"set","p":"address","pt":"msg","to":"address","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"null","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":200,"wires":[["33ef1fa6.fde958"]]},{"id":"33ef1fa6.fde958","type":"Axis Camera","z":"88e189e4.d4201","name":"","account":"a17ed695.4ab608","address":"","action":"MQTT Connect","data":"","format":"default","x":580,"y":200,"wires":[["4a863e3f.1a552"]]},{"id":"4a863e3f.1a552","type":"debug","z":"88e189e4.d4201","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":200,"wires":[]},{"id":"a17ed695.4ab608","type":"Camera Account","z":"","name":"Nodered","protocol":"http"}]